.app {
  text-align: center;
}

.flashcardsContainer {
  display: inline-flex;
  margin: auto;
  gap: 0.5rem;
}

.card {
  width: 30rem;
  height: 20rem;
  border: solid black 0.0625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}
